<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="follow_camera">
    <xacro:macro name="follow_camera">
        <xacro:property name="name" value="follow_camera" />
        <xacro:property name="hz" value="30" />
        <link name="${name}_base_link">
            <inertial>
                <origin xyz="0 0 0.5" rpy="0 0 0"/>
                <mass value="1"/>
                <inertia ixx="100"  ixy="0"  ixz="0" iyy="100" iyz="0" izz="100" />
            </inertial>
            <visual>
                <!-- <geometry>
                    <box size="0.1 0.1 0.1"/> 
                </geometry> -->
                <!-- Adjust material properties as necessary -->
            </visual>
        </link>

        <joint name="${name}_link_joint" type="fixed">
            <origin xyz="0 0 0.5" rpy="0 0 0" />
            <parent link="mid_mount"/>
            <child link="${name}_base_link" />
        </joint>

        <link name="${name}_top_view">
            <inertial>
                <origin xyz="0 0 1.5" rpy="0 0 0"/>
                <mass value="1"/>
                <inertia ixx="100"  ixy="0"  ixz="0" iyy="100" iyz="0" izz="100" />
            </inertial>
            <visual>
                <!-- <geometry>
                    <box size="0.05 0.05 0.05"/> 
                </geometry> -->
            </visual>
        </link>

        <joint name="${name}_top_view_link_joint" type="fixed">
            <origin xyz="0 0 10.0" rpy="0 1.57 0" />
            <parent link="${name}_base_link"/>
            <child link="${name}_top_view" />
        </joint>

<gazebo reference="${name}_top_view">
    <sensor name="${name}_top_view" type="camera">
        <pose> 0 0 0 0 0 0 </pose>
        <visualize>false</visualize>
        <update_rate>${hz}</update_rate>
        <camera>
            <horizontal_fov>1.3962634</horizontal_fov>
            <image>
                <width>1024</width>
                <height>1024</height>
                <format>R8G8B8</format>
            </image>
            <clip>
                <near>0.02</near>
                <far>300</far>
            </clip>
        </camera>
        <always_on>1</always_on>
        <plugin name="top_view_camera_controller" filename="libgazebo_ros_camera.so">
            <cameraName>follow_camera/camera</cameraName>
            <imageTopicName>follow_camera/image_raw</imageTopicName>
            <cameraInfoTopicName>follow_camera/camera_info</cameraInfoTopicName>
            <frameName>follow_camera_top_view</frameName>
            <hackBaseline>0.07</hackBaseline>
            <distortionK1>0.0</distortionK1>
            <distortionK2>0.0</distortionK2>
            <distortionK3>0.0</distortionK3>
            <distortionT1>0.0</distortionT1>
            <distortionT2>0.0</distortionT2>
        </plugin>
    </sensor>
</gazebo>


    </xacro:macro>
</robot>
